body {
    font-family: 'Roboto Slab', serif;
    /*background-color: #264073;*/
    background-color: #fafafa;
}
h1 {
    margin: 30px 0 30px 0;
}
h3 {
    margin-bottom: 25px;
}
.container {
    width: 600px;
    height: 700px;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    padding: 30px;
    margin-top: 75px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-box-shadow: 0px 20px 0px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 20px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 20px 0px 0px rgba(0, 0, 0, 0.15);

}
.meal-details, .charge-overview, .earnings-info {
    margin-top: 40px;
}
.navigation {
    text-align: center;
}
.nav-pills>li>a {
    font-size: 20px;
}
.reset {
    position: fixed;
    top: 650px;
    text-align: left;
    margin-top: 35px;
}
.btn {
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 4px 0px 0px rgba(0, 0, 0, 0.15);
    margin-right: 10px;
}
.error {
    color: red;
}
.animate-view-container {
    position: relative;
}
.animate-view.ng-enter, .animate-view.ng-leave {
  position: absolute;

    width: 100%;
    transition: 300ms;
}
.animate-view.ng-enter {
  left: -100%;
  opacity: 0;
}
.animate-view.ng-enter.ng-enter-active {
    left: 0%;
    opacity: 1;
}
.animate-view.ng-leave {
    left: 0%;
    opacity: 1;
}
.animate-view.ng-leave.ng-leave-active {
    left: 100%;
    opacity: 0;
}
@media only screen and (max-width: 800px) {
    .container {
        width: 100%;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        margin-top: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }
    .reset {
      top: 575px;
    }
}
@media only screen and (max-width: 570px) {
    .container {
        width: 100%;
        height: 800px;
    }
    .reset {
      top: 700px;
    }

}
