<section class="charge-overview tab-pane" id="charge">
    <h3>Charge Overview</h3>
    <!--
    <button class="btn btn-default">&lt; Previous Meal</button>
    <button class="btn btn-default">Next Meal &gt;</button>
    -->
    <h4 ng-repeat="meal in meals" ng-show="$index==(mealCount-1)">Subtotal: ${{meal.subtotal | number:2}}</h4>
    <h4 ng-repeat="meal in meals" ng-show="$index==(mealCount-1)">Tip: ${{meal.tip | number:2}}</h4>
    <hr>
    <h4 ng-repeat="meal in meals" ng-show="$index==(mealCount-1)">Total: ${{meal.total | number:2}}</h4>
</section>
